<div class="card-experience mt-3 mb-3">
  <% if experience.photos.attached? %>
    <%= cl_image_tag experience.photos.sample.key, crop: :fill %>
  <% end %>
  <div class="card-experience-infos">
    <h2><%= experience.name %></h2>
    <p><%= experience.address %></p>
    <p> <%= link_to "Show", experience_path(experience), class: "btn btn-primary" %></p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
    <% if !current_user.favorited?(experience)%>
      <%= link_to experience_favorites_path(experience), method: :post do %>
      <i class="far fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to experience_delete_favorites_path(experience), method: :post do %>
      <i class="fa fa-heart"></i>
      <% end %>
    <% end %>

  </div>
</div>
