<div class="container">
  <div class="row">
   <div class="col-2 m-3">
    <%= render "shared/profile_sidebar" %>
   </div>
   <br>
   <div class="col-5 mt-3">
      <div class="d-flex">
        <h2>Favorited in : <%= link_to "lisbon" , { :controller => "pages", :action => 'profile' , :query => "lisbon"} , class: "btn btn-primary" %>
        <%= link_to "porto", {:controller => "pages", :action => 'profile', :query => "porto"}, class: "btn btn-primary" %> </h2>
      </div>
    <% @all_favorites.each do |favorite| %>
      <%= render 'shared/experience_card', experience: favorite %>
      <%= render 'shared/show_modal', experience: favorite %>
    <% end %>
   </div>
      <div class="col-4 ">
        <%= render "shared/mapbox" %>
      </div>
  </div>
</div>
