<div class="profile-container" data-controller="drag">
  <br>
  <div class="value">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
      <p class="progress-value">75%</p>
  </div>
  <br>
    <div class=" d-flex  justify-content-between m-6">
    <div class="col-2 m-3">
          <%= link_to "Go back", "javascript:history.back()", class: "btn btn-primary mb-3" %>
      <%= render "shared/profile_sidebar" %>
    </div>
    <br>
    <div class="col-5 m-3">
        <div class="d-flex">
          <h2 class="index-title">Favorited in : <%= link_to "Lisbon" , { :controller => "pages", :action => 'profile' , :query => "lisbon"} , class: "btn btn-primary" %>
          <%= link_to "Porto", {:controller => "pages", :action => 'profile', :query => "porto"}, class: "btn btn-primary" %> </h2>
        </div>
        <div><p class="paragraph">Drag your favorite locations into the order you'd like to visit them and click <strong>get directions </strong> to map out your day!</p></div>
        <div data-drag-target="cards">
          <div class="d-flex justify-content-center"><button id="getDirections" data-action="click->drag#send" class="btn btn-primary">Get directions</button></div>
          <% @all_favorites.each do |favorite| %>
            <%= render 'shared/experience_card', experience: favorite %>
            <%= render 'shared/show_modal', experience: favorite %>
          <% end %>
        </div>
    </div>
    <div class="col-5 m-3">
      <%= render "shared/mapbox" %>
    </div>
  </div>
</div>
