<div class="container">
<br>
  <div class="row">
    <div class="col-6">
            <div class="map">
          <%= render "shared/mapbox" %>
        </div>
        <div class="directions">
          <%= link_to "Set your route", profile_path, class: "btn btn-primary" %>
        </div>

    </div>
    <div class="col-6 scroll">
      <div class="scrollmenu">
        <% @categories.each do |category| %>
          <%= link_to "#{category.name}", experiences_path(category: category.ref, city: params[:city]) %>
        <% end %>
      </div>
      <h2 class="index-title">Browse our Categories in <%= params[:city].capitalize %></h2>
      <p class="paragraph">Click the heart to favorite places you like and when you're ready to map out your day, <strong>go to set your route! </strong></p>
        <div class="value">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
          </div>
            <p class="progress-value">33%</p>
        </div>
      <br>
      <div>
        <% @experiences.each do |experience| %>
        <div class = "d-flex align-items-center justify-content-around">
          <%= render 'shared/experience_card', experience: experience %>
        </div>
          <%= render 'shared/show_modal', experience: experience %>
        <% end %>
      </div>
    </div>
      <%#= link_to "Home", root_path, class: "btn btn-primary" %>
  </div>
</div>
