<p> <%= @experience.description %></p>
<p> <%= @experience.address %></p>
<p> <%= @experience.website_url %></p>
<p> <%= @experience.category.name %></p>
<p> <%= @experience.city.name %></p>
<p> <%= @experience.latitude %></p>
<p> <%= @experience.longitude %></p>

<% if @experience.photos.attached? %>
  <% @experience.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% if @experience.photos.attached? %>
      <div class="carousel-item active">
        <%= cl_image_tag @experience.photos.first.key, class:"d-block w-100 carousel-img" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @experience.photos.second.key, class:"d-block w-100 carousel-img" %>
      </div>
      <div class="carousel-item">
        <%= cl_image_tag @experience.photos.third.key, class:"d-block w-100 carousel-img" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%= link_to "Back", experiences_path, class: "btn btn-primary" %>
<%= link_to "Home", root_path, class: "btn btn-secondary" %>
<% if !current_user.favorited?(@experience)%>
  <%= link_to "Favorite", experience_favorites_path(@experience), method: :post, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Unfavorite", experience_delete_favorites_path(@experience), method: :post, class: "btn btn-primary" %>
<% end %>
