  <p> <%= @experience.description %></p>
  <p> <%= @experience.address %></p>
  <p> <%= @experience.website_url %></p>

<%= link_to "Back", experiences_path, class: "btn btn-primary" %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
<% if !current_user.favorited?(@experience)%>
  <%= link_to "Favorite", experience_favorites_path(@experience),method: :post, class: "btn btn-primary" %>
<%elsif current_user.favorited?(@experience) %>
<%= raise %>
  <%= link_to "Unfavorite", experience_favorites_path(@experience),method: :delete, class: "btn btn-primary" %>
<% end %>
