  <p> <%= @experience.description %></p>
  <p> <%= @experience.address %></p>
  <p> <%= @experience.website_url %></p>

<%= link_to "Back", experiences_path, class: "btn btn-primary" %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
